@import 'unit';
@import '../../public/fonts/font.scss';


:root {
  --primary-color: #2c3033;
  --secondary-color: #d9d9d9;
  --text-color: #ce3738 ;
  --back-color: #eeeeee ;
}

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

ul,
li, 
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14.4vw;
}

@media screen and (max-width: 2000px) {
   .container {
    padding: 0px 10vw;
    width: 100%;
    margin: 0 auto;
   }
}

@media screen and (max-width: 1300px) {
   .container {
    padding: 0px 8vw;
   }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0px 6vw;
  }
}