.select {
    height: 56px;
    border-radius: 2px 0px 0px 0px;
    border: none;
    background: rgba(44, 48, 51, .1);
    padding: 0px 20px;
    outline-color: silver;

    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
}