.input {
    height: 56px;
    border: none;
    background: #2c30331a;

    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
    color: #929292;
}


@media screen and (max-width:660px) {
        // .input {
        //     background-color: white;
        //     border: 1px solid rgba(121, 116, 126, 1);
        //     border-radius: 4px;
        // }
}



@media screen and (max-width: 900px)  {
    .input {
        background: white;
    }
}

