.input {
    height: 56px;
    border: none;
    background: #2c30331a;

    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
    color: #929292;
}



